In [1]:
import pandas as pd
import numpy as np

In [10]:
drinks=pd.read_csv('drinks.csv', sep='\s*,\s*')
print(drinks)

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
..                            ...       ...
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]

C:\Users\rober\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [11]:
df=pd.DataFrame(drinks)
print(df)

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
..                            ...       ...
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]

In [12]:
ContinentEU = df[df['continent']=='EU']
ContinentAS = df[df['continent']=='AS']
ContinentAF = df[df['continent']=='AF']
ContinentSA = df[df['continent']=='SA']
ContinentOC = df[df['continent']=='OC']
ContinentNA = df[df['continent']=='NA']


print(ContinentOC)

              country  beer_servings  spirit_servings  wine_servings  \
8           Australia            261               72            212
40       Cook Islands              0              254             74
59               Fiji             77               35              1
89           Kiribati             21               34              1
106  Marshall Islands              0                0              0
110        Micronesia             62               50             18
118             Nauru             49                0              8
121       New Zealand            203               79            175
125              Niue            188              200              7
129             Palau            306               63             23
131  Papua New Guinea             44               39              1
146             Samoa            105               18             24
157   Solomon Islands             56               11              1
173             Tonga             36               21              5
178            Tuvalu              6               41              9
187           Vanuatu             21               18             11

     total_litres_of_pure_alcohol continent
8                            10.4        OC
40                            5.9        OC
59                            2.0        OC
89                            1.0        OC
106                           0.0        OC
110                           2.3        OC
118                           1.0        OC
121                           9.3        OC
125                           7.0        OC
129                           6.9        OC
131                           1.5        OC
146                           2.6        OC
157                           1.2        OC
173                           1.1        OC
178                           1.0        OC
187                           0.9        OC

In [13]:
AverageBeerEU=ContinentEU['beer_servings'].sum()

AverageBeerAS=ContinentAS['beer_servings'].sum()

AverageBeerAF=ContinentAF['beer_servings'].sum()

AverageBeerSA=ContinentSA['beer_servings'].sum()

AverageBeerOC=ContinentOC['beer_servings'].sum()

AverageBeerNA=ContinentNA['beer_servings'].sum()

In [14]:
A={'Continent':['EU','AS','AF','SA','OC','NA'],
   'AverageBeerPerContinent':[AverageBeerEU,AverageBeerAS,AverageBeerAF,AverageBeerSA,AverageBeerOC,AverageBeerNA]}
AverageBeer=pd.DataFrame(A)
print(AverageBeer)

  Continent  AverageBeerPerContinent
0        EU                     8720
1        AS                     1630
2        AF                     3258
3        SA                     2101
4        OC                     1435
5        NA                        0

In [15]:
print(AverageBeer['AverageBeerPerContinent'].max())

8720

In [16]:
AverageWineEU=ContinentEU['wine_servings'].sum()

AverageWineAS=ContinentAS['wine_servings'].sum()

AverageWineAF=ContinentAF['wine_servings'].sum()

AverageWineSA=ContinentSA['wine_servings'].sum()

AverageWineOC=ContinentOC['wine_servings'].sum()

AverageWineNA=ContinentNA['wine_servings'].sum()

In [17]:
B={'Continent':['EU','AS','AF','SA','OC','NA'],
   'AverageWinePerContinent':[AverageWineEU,AverageWineAS,AverageWineAF,AverageWineSA,AverageWineOC,AverageWineNA]}
AverageWine=pd.DataFrame(B)
print(AverageWine)

  Continent  AverageWinePerContinent
0        EU                     6400
1        AS                      399
2        AF                      862
3        SA                      749
4        OC                      570
5        NA                        0

In [42]:

for index, row in df.iterrows(): 
     print(row["country"], row["spirit_servings"])

Afghanistan 0
Albania 132
Algeria 0
Andorra 138
Angola 57
Antigua & Barbuda 128
Argentina 25
Armenia 179
Australia 72
Austria 75
Azerbaijan 46
Bahamas 176
Bahrain 63
Bangladesh 0
Barbados 173
Belarus 373
Belgium 84
Belize 114
Benin 4
Bhutan 0
Bolivia 41
Bosnia-Herzegovina 173
Botswana 35
Brazil 145
Brunei 2
Bulgaria 252
Burkina Faso 7
Burundi 0
Cote d'Ivoire 1
Cabo Verde 56
Cambodia 65
Cameroon 1
Canada 122
Central African Republic 2
Chad 1
Chile 124
China 192
Colombia 76
Comoros 3
Congo 1
Cook Islands 254
Costa Rica 87
Croatia 87
Cuba 137
Cyprus 154
Czech Republic 170
North Korea 0
DR Congo 3
Denmark 81
Djibouti 44
Dominica 286
Dominican Republic 147
Ecuador 74
Egypt 4
El Salvador 69
Equatorial Guinea 0
Eritrea 0
Estonia 194
Ethiopia 3
Fiji 35
Finland 133
France 151
Gabon 98
Gambia 0
Georgia 100
Germany 117
Ghana 3
Greece 112
Grenada 438
Guatemala 69
Guinea 0
Guinea-Bissau 31
Guyana 302
Haiti 326
Honduras 98
Hungary 215
Iceland 61
India 114
Indonesia 1
Iran 0
Iraq 3
Ireland 118
Israel 69
Italy 42
Jamaica 97
Japan 202
Jordan 21
Kazakhstan 246
Kenya 22
Kiribati 34
Kuwait 0
Kyrgyzstan 97
Laos 0
Latvia 216
Lebanon 55
Lesotho 29
Liberia 152
Libya 0
Lithuania 244
Luxembourg 133
Madagascar 15
Malawi 11
Malaysia 4
Maldives 0
Mali 1
Malta 100
Marshall Islands 0
Mauritania 0
Mauritius 31
Mexico 68
Micronesia 50
Monaco 0
Mongolia 189
Montenegro 114
Morocco 6
Mozambique 18
Myanmar 1
Namibia 3
Nauru 0
Nepal 6
Netherlands 88
New Zealand 79
Nicaragua 118
Niger 2
Nigeria 5
Niue 200
Norway 71
Oman 16
Pakistan 0
Palau 63
Panama 104
Papua New Guinea 39
Paraguay 117
Peru 160
Philippines 186
Poland 215
Portugal 67
Qatar 42
South Korea 16
Moldova 226
Romania 122
Russian Federation 326
Rwanda 2
St. Kitts & Nevis 205
St. Lucia 315
St. Vincent & the Grenadines 221
Samoa 18
San Marino 0
Sao Tome & Principe 38
Saudi Arabia 5
Senegal 1
Serbia 131
Seychelles 25
Sierra Leone 3
Singapore 12
Slovakia 293
Slovenia 51
Solomon Islands 11
Somalia 0
South Africa 76
Spain 157
Sri Lanka 104
Sudan 13
Suriname 178
Swaziland 2
Sweden 60
Switzerland 100
Syria 35
Tajikistan 15
Thailand 258
Macedonia 27
Timor-Leste 1
Togo 2
Tonga 21
Trinidad & Tobago 156
Tunisia 3
Turkey 22
Turkmenistan 71
Tuvalu 41
Uganda 9
Ukraine 237
United Arab Emirates 135
United Kingdom 126
Tanzania 6
USA 158
Uruguay 35
Uzbekistan 101
Vanuatu 18
Venezuela 100
Vietnam 2
Yemen 0
Zambia 19
Zimbabwe 18